{% extends "base.html" %}
{% block content %}

{% load static %}
<div id="su-wrap"> <!-- used to force footer to bottom of short pages -->
  <div id="su-content"> <!-- used to force footer to bottom of short pages -->

  <!--=== Top ===-->



   <div id="content" class="container" role="main" tabindex="0">
     <div class="row">
       <!-- Main column -->
       <div id="main-content" class="col-md-8" role="main">
       <!--<div id="toolbar-top"><a href="?view=print"><img src="http://news.stanford.edu/images-modern/printer-icon.png" alt="Print" title="Print this story" style="vertical-align: middle;" /></a>
</div>-->



<!-- BEGIN STORY -->
<div id="story">



<span class="dateline">Stanford Report, April 6, 2016</span>
<h1>Changes in human reproduction raise legal, ethical issues, Stanford scholar says</h1>
<div id="deck"><p>The implications of emerging biotechnologies and what they mean for human reproduction and making babies raises legal, ethical and social issues, according to Stanford Law Professor Hank Greely.</p></div>

<p class="byline">
By <span class="byline">Greta Lorge</span>

</p>

<div class="photolarge">






<div class="photolarge">
<span class="citation">Steve Gladfelter</span>
<a href="http://news.stanford.edu/news/2016/april/images/16289-reproduction_news.jpg" class="lightbox"><img src="http://news.stanford.edu/news/2016/april/images/16289-reproduction_news.jpg" alt="Prof. Hank Greely" class="photolarge" /></a>
<p>Stanford Law Professor Hank Greely predicts that society will soon be faced with legal and ethical decisions around advances in human reproduction technologies.</p>

</div>





</div>

<p>What if prospective parents were given the opportunity to make decisions ahead of time about the combination of genetic traits their child would inherit?</p>
<p>Stanford Law Professor <a href="https://law.stanford.edu/directory/henry-t-greely/">Hank Greely</a> says that's not just a science fiction set-up, but a quandary that future generations will likely face.</p>
<p>The underlying science and technology are advancing rapidly, he noted. Now is the time, Greely believes, to consider carefully "what kind of legal changes would be necessary to try to maximize the benefits and minimize the harm of this new approach to making babies."</p>
<p>The founding director of the Center for Law and the Biosciences and director of the Stanford Program in Neuroscience and Society, Greely studies the legal, ethical and societal implications of emerging biotechnologies. His forthcoming <a href="http://www.hup.harvard.edu/catalog.php?isbn=9780674728967">book</a>, <em>The End of Sex and The Future of Human Reproduction,</em> envisions a world where procreation may not start in bedrooms, but rather in a petri dish in a medical clinic.<strong> <br /></strong></p>
<h3><strong>Designer children</strong></h3>
<p>Greely describes a scenario: A couple wanting a child would create 100 embryos and receive a DNA dossier for each. This would reveal the presence of genes for serious life-threatening diseases as well as markers that confer increased risk for less serious conditions, but it also might include genes for physical features, including eye and hair color, height and body type, and markers for behavioral traits such as athleticism or musical ability. The hopeful parents would then select which embryo to implant based on its expected characteristics.</p>
<p>"Right now, the technology as envisioned in the book is still 20 years away," Greely said. "But there are pieces of it available today."</p>
<p>Pre-implantation genetic diagnosis (PGD) &#8211; which involves extracting a single cell from an embryo created through in vitro fertilization (IVF) and screening for disease genes or abnormal chromosomes &#8211; has been around for 25 years, he said.</p>
<p>However, because it requires egg harvesting for IVF (which is very expensive), Greely expects most couples would not consider PGD if they could conceive a healthy child the old-fashioned way.</p>
<p>But sooner or later, Greely believes, scientists will succeed in making viable human eggs and sperm from induced pluripotent stem cells (iPSCs) derived from skin or other somatic cells.</p>
<p>"And that will be the news story that triggers real interest in what I call 'easy PGD,'" he said. "This will pave the way for a number of new reproductive possibilities. For one, people who are infertile will be able to have their own genetic children. So may same sex couples, since it may well be possible to make eggs from a man's skin cells or sperm from a woman's."</p>
<p>For another, he added, it will eliminate the pressure of a biological clock &#8211; at least in terms of conception &#8211; allowing women to postpone starting a family.</p>
<p>Yet, by the same token, the ability to make gametes from skin cells might have some undesirable consequences. For example, Greely pointed out that someone could take a paper coffee cup that you casually tossed in the trash and turn you into a parent without your knowledge or consent.</p>
<p>"We probably need some laws to deal with that; unconsenting parenthood seems like a bad idea," Greely said.<strong> <br /></strong></p>
<h3><strong>Complicated questions</strong></h3>
<p>One possibility he proposes would be to require documentation of the provenance of any cells used to derive eggs or sperm.</p>
<p>"I think there are a lot of complicated questions, and for some of them, there is no particular law book to turn to," Greely said.</p>
<p>For example, he suggested, what happens if parents pick an embryo thinking they're getting a boy who will grow up to be like former Stanford quarterback Andrew Luck, but &#160;instead when the child grows up, he wants to be poet?</p>
<p>Greely said, "I think, universally, parents are already somewhat surprised by how their children end up. But if you think you've actually picked their genes, will that make you more disappointed? Will that make you sue the clinic?"</p>
<p>Fairness is a central issue, Greely said. What if some people have access to the technology and others don't? He predicts that in rich countries this child-making process will be subsidized, making it effectively free for prospective parents.</p>
<p>"In part," he said, that will happen "because it will save the health care system a lot of money. You don't need to prevent the births of very many really sick babies to pay for hundreds or thousands of attempts at making babies through easy PGD."</p>
<p>But even so, there will certainly be international disparities, and possibly national ones as well.<strong> <br /></strong></p>
<h3><strong>People with disabilities</strong></h3>
<p>Greely also raises challenging issues with respect to people with disabilities.</p>
<p>"If you've got a genetic disease and this means far fewer people are going to be born with your disease, well, in one sense that's a good thing, but in another sense that lowers the research interest in your disease, the social support for your disease, and it kind of says your society thinks you shouldn't have been born," he said.</p>
<p>Citing the examples of heritable deafness and dwarfism, he noted that it's plausible that parents would want a child like them.</p>
<p>"If a parent deafened a living baby, we'd certainly take the baby away and we'd prosecute the parent. If parents choose an embryo because it's deaf, like themselves, in order to preserve deaf culture from genocide, what do we do then?"</p>
<p>Greely seeks to spark broad discussions about policies regarding these issues.</p>
<p>"I think something that changes the way we conceive babies affects everyone in such basic ways that it's not a topic that should be left solely to the law professors or to the bioethicists or to the ob-gyns or to the fertility clinics," he said.</p>



<h2 class="related-content">Media Contact</h2>
<p>Henry T. Greely, Stanford Law School: (650) 723-2517, <a href="mailto:hgreely@stanford.edu">hgreely@stanford.edu</a></p>
<p>Clifton B. Parker, Stanford News Service: (650) 725-0224, <a href="mailto:cbparker@stanford.edu">cbparker@stanford.edu</a></p>





<p style="padding-top: 10px;" id="toolbar-bottom">
	<span class='st_email_hcount' displayText='Email'></span>
	<span class='st_facebook_hcount' displayText='Facebook'></span>
	<span class='st_twitter_hcount' st_via='Stanford' displayText='Tweet'></span>
	<span class='st_linkedin_hcount' displayText='LinkedIn'></span>
	<span class='st_stumbleupon_hcount' displayText='Stumble'></span>
	<span class='st_googleplus_hcount' ></span>
</p>


<!-- END STORY -->
</div>
</div>

<div id="sidebar-second" class="col-md-4">
<div id="socialmedia">
	<h2>Share This Story</h2>
<script type="text/javascript"><!--
document.write('<span class="st_facebook_vcount" displayText="Facebook"></span><span class="st_twitter_vcount" st_via="Stanford" displayText="Tweet"></span><span class="st_linkedin_vcount" displayText="LinkedIn"></span><span class="st_email_vcount" displayText="Email"></span><hr class="clearer" /><span class="st_fblike_hcount" displayText="Like"></span>')
--></script>
<hr class="clearer" />
</div>




<!-- SIDEBAR EXTRA BEGIN-->
<div class="nocontent">
<iframe src="http://news.stanford.edu/news/includes/sidebar-iframe.html" width="100%" height="500" scrolling="no" frameborder="0"></iframe>
</div>

<!-- SIDEBAR EXTRA END -->
      </div>
    </div>

    </div><!-- #content-->
  </div><!-- #su-content -->
</div>


{% endblock %}
